body {
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
}

.checkRadio {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.checkRadio label {
    margin: 0 10px;
}

.splide__slide {
    width: 100%;
}

.splide__slide img {
    width: 50%;
    height: 500px;
    padding: 0 25%;
    object-fit: cover;
}

.slideImg2 {
    object-position: 40% 80%;
}

.slideImg1 {
    object-position: 40% 20%;
}

#toggledRadios {
    display: none;
    margin-top: 10px;
}

@media (max-width: 721px) {
    .splide__slide img {
        width: 200px;
        height: 300px;
    }
}

@media (max-width: 721px) {
    .splide__slide img {
        width: 200px;
        height: 300px;
    }
}