body {
    font-family: sans-serif;
    padding: 30px;
}

.splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: #ccc;
    margin: 10px;
    overflow: hidden;
    border-radius: 6px;
}

.splide_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
